<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css" media="screen,projection">
    <!-- Import icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>GrpcTestPage</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper black lighten-2">
            <a href="/" class="brand-logo">
                GRPC-Test
            </a>
        </div>
    </nav>
</header>

<div class="container">
    <h3>Send message:</h3>
    <form action="/sendMessage" method="post">
        <input placeholder="Input message" type="text" name="message"/>
        <button class="waves-effect waves-light btn" type="submit">
            <i class="large material-icons">arrow_forward</i>
        </button>
    </form>
    <h5>Server response:</h5>
    <h5 class="green-text" th:if="${response}" th:text="${response}"></h5>
    <h5 class="red-text" th:if="${error}" th:text="${error}"></h5>
</div>
<br>
<br>
<br>
<h6><span></span></h6>
<br>
<div class="container">
    <h3>Server files:</h3>
    <form action="/upload_file" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text">
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">
            <i class="small material-icons">arrow_forward</i>
        </button>
        <h5 class="green-text" th:if="${uploadDone}" th:text="${uploadDone}"></h5>
        <h5 class="red-text" th:if="${uploadError}" th:text="${uploadError}"></h5>
    </form>
    <div class="container">
        <h4>Files on server:</h4>
        <table>
            <thead>
            <tr>
                <th>Filename:</th>
                <th>File format:</th>
                <th>Date creation:</th>
                <th>
                    <i class="material-icons">arrow_downward</i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${files}">
                <td th:text="${el.filename}"/>
                <td th:text="${el.filetype}"/>
                <td th:text="${el.dateCreation}"/>
                </a>
                <td>
                    <a th:href="'/download_file/' + ${el.filename}" class="waves-effect waves-light btn" download>Download<a/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>